<html>  
   <body style="background-color:powderblue;">  
    
      
      <form action="https://29225f7c.ngrok.io" method = "post">
         <p style="font-family: Verdana ;color: rgba(134, 76, 243, 0.897);" >Please selecet the crop</p>
         <select name="crop" type ="text" style="background-color:rgba(123, 170, 202, 0.65);font-size:20px">
           <option value="Ragi">Ragi</option>
           <option value="maiz">Maiz</option>
           <option value="paddy">Paddy</option>
         </select>
         
         <p style="font-family: Verdana ;color: rgba(134, 76, 243, 0.897);" >Please select the locality</p>
         <select name="place" type ="text" style="background-color:rgba(123, 170, 202, 0.65);font-size:20px">
            <option value="banglore">Banglore</option>
            <option value="mysore">Mysore</option>
            <option value="mandya">Mandya</option>
          </select>
          
          <p style="font-family: Verdana ;color: rgba(134, 76, 243, 0.897);" >Please select the mounth</p>
          <select name="mounth" type ="text" style="background-color:rgba(123, 170, 202, 0.65);font-size:18px">
            <option value="january">January</option>
            <option value="february">February</option>
            <option value="march">March</option>
            <option value="april">April</option>
            <option value="may">May</option>
            <option value="april">April</option>
            <option value="may">May</option>
            <option value="june">June</option>
            <option value="july">July</option>
            <option value="august">Augut</option>
            <option value="september">September</option>
            <option value="octomber">Octomber</option>
            <option value="november">November</option>
            <option value="december">December</option>
          </select>
          
          <p style="font-family: Verdana ;color: rgba(134, 76, 243, 0.897);" >Please enter the land size in kuntas</p>
         
          <input name="landsize">
          <br><br>
         <input type="submit" style="font-size: 20px;">
       </form>
       <br>
       <p style="font-family: Verdana ;color: rgba(134, 76, 243, 0.897);">Detect disease</p>
       <br>
       <input type="button" onclick="location.href='https://ce9568e3.ngrok.io';" value="Upload Images" />
   </body>  

   <style>
   
   </style>
</html>  